/* Global */

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.title__heading h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title__heading span{
    color: #ff6e65;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
    text-align: center;
}

.section{
    padding: 5rem 0;
}


/* Header */

.header__top{
    background-color: #0d369f;
}

.header__top-content a{
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 500;
    transition: all .5s;
}

.header__top-content i{
    margin-right: 1rem;
    color: white;
}

.header__top-content a:hover{
    color: #ff6e65;
}

.header__main .navbar-brand {
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
}

#navbarSupportedContent .navbar-nav .nav-item{
    padding: 5px 10px;
    transition: all .5s; 
}

#navbarSupportedContent .nav-item .nav-link{
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

#navbarSupportedContent .nav-item .active{
    color: #ff6e65;
}

#navbarSupportedContent .nav-item .nav-link:hover{
    color: #ff6e65;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: white;
    border: 1px solid none;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

#navbarSupportedContent .dropdown-menu .dropdown-item{
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
}

#navbarSupportedContent .dropdown-menu li{
    transition: all .5s; 
    /* padding: 0; */
}

#navbarSupportedContent .dropdown-menu .dropdown-item:hover{
    color: #ff6e65;
}

/* Features */

/* .features .title__heading .title__main h3::before, .features .title__main h3::after {
    content: " ";
    background: grey;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
} */


.features .features__item .features__image{
    margin-bottom: 30px;
}

.features .features__item .features__image i{
    color: #0d369f;
    font-size: 30px;
    background-color: #00369f17;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}


.features .features__item .features__info h3{
    color: black;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* Services */

.services{
    background-image: url('../Img/bg3.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}

.services__info{
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.services__info i{
    font-size: 30px;
    background-color: #00369f17;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;
    color: #0d369f;
}

.services__info h4{
    font-weight: 600;
}

/* Stats */

.stats__main{
    margin-top: 5rem;
}

.stats__main .col-3{
    border-right: 1px solid rgba(128, 128, 128, 0.469);
}

.stats__main .counter{
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}

.stats__main .col-3 p:last-of-type{
    color: black;
    text-transform: uppercase;
}


/* ========== FEEDBACK ================ */

.feedback__top h2{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}
.feedback__top span{
    color: #ff6e65;
}
.feedback__top h2::before{
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: -20px;
    bottom: -8px;
    display: block;
}
.feedback__top h2::after{
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 20px;
    bottom: -15px;
}
.feedback__col .feedback__item{
    padding: 3rem;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1) ;
}
.feedback__col .feedback__item__top p{
    text-align: left;
}
.feedback__col .feedback__item__top p::before{
    font-size: 50px;
    font-family: initial;
    line-height: .8;
    padding-top: 8px;
    display: inline-block;
    content: '';
}
.feedback__col .feedback__item__top i{
    font-size: 22px;
    color: #ff6e65;
    line-height: .8;
}
.feedback__col .feedback__item__bottom img{
    border-radius: 50%;
    width: 100%;
}
.feedback__col .feedback__item__bottom h5{
    margin: 0;
    font-weight: 600;
}
.feedback__col .feedback__item__bottom{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}
